<div class="addback">
<div class= "container">
<h1> My Records </h1>
<h2>Own</h2>
<div class="row">
<% @user.records.each do |r| %>
    <% if r.own === true %>
    <div class="col newrec">
            <% if r.image != "" %> <img class="img" src="<%= r.image %>"> <% end %>
            <p><%= r.artist %> 
            <p><%= r.album %></p>
            <p><%= r.year %></p>
            <%= link_to "edit", edit_user_record_path(@user.id, r.id), class: 'btn btn-primary'%>
            </div>
            <% end %>
            <% end %>
</div>
 
<h2>Want</h2>
    <div class="row">
    <% @user.records.each do |r| %>
        <% if r.own === false %>
        <div class="col newrec">
            <% if r.image != "" %> <img class="img" src="<%= r.image %>"> <% end %>
            <p><%= r.artist %> 
            <p><%= r.album %></p>
            <p><%= r.year %></p>
            <%= link_to "edit", edit_user_record_path(@user.id, r.id),class: 'btn btn-primary' %>
            </div>
            <% end %>
        <% end %>
    </div>    
</div>

